<a href="https://colab.research.google.com/github/Yuvraj5027/Python-lab/blob/main/finding%20unique%20numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

In [2]:
n=int(input())
m=int(input())
for i in range(n,m+1):
    if (int(str(i)[0])+int(str(i)[1]))+(int(str(i)[0])*int(str(i)[1]))==i:
        print(i)

10
99
19
29
39
49
59
69
79
89
99

In [ ]:
99